<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io" target="_blank">
        <img src="../assets/pics/bulma.png" alt="Logo">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu" [class.is-active]="burgerSwitch" (click)="toggleBurger()">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu" [class.is-active]="burgerSwitch">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">Home</a>
        <a class="navbar-item" routerLink="/books" routerLinkActive="active">Books</a>
      </div>
    </div>
  </div>
</nav>