<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-fullheight is-default is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io" target="_blank">
            <img src="../assets/pics/bulma.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Features
            </a>
            <a class="navbar-item">
              Login
            </a>
            <a class="navbar-item">
              Register
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <figure class="image">
            <img src="../assets/pics/mean.png">
          </figure>
        </div>
        <div class="column is-6 is-offset-1">
          <h1 class="title is-2">
            MEAN Simple Starter
          </h1>
          <h2 class="subtitle is-4">
            Let's build something great!
          </h2>
          <br>
          <p class="has-text-centered">
            <a href="https://www.youtube.com/watch?v=uONz0lEWft0&list=PLillGF-RfqbZMNtaOXJQiDebNXjVapWPZ" target="_blank" class="button is-medium is-link is-outlined">
              Start Now
            </a>
            <a href="https://github.com/Stanza987/mean-auth-app-universal" target="_blank" class="button is-medium is-success is-outlined">
              Updates
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li>
            <a class="button is-white is-large" href="https://dansup.github.io/bulma-templates/" target="_blank">
              <i class="fab fa-html5" style="color: #e34f26"></i>
              <i class="fab fa-css3-alt" style="color: #002561"></i>
              Free Bulma Templates
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>